* {
    box-sizing: border-box;
}

body {
  margin: 0;
}

#navbar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  width: 25%;
  background-color: #e5e5e5;
  height: 100%;
  position: fixed;
  overflow: hidden;
}

.nav-header {
  font-size: 20px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  padding: 5px 30px;
  flex: 2 0 30%;
}

.nav-link {
  text-decoration: none;
  font-family: 'Noto Sans', sans-serif;
  border-top: 2px #7f7f7f solid;
  color: #000;
  padding-top: 15px;
  padding-left: 25px;
  flex: 1 0 15%;
}

.nav-link:hover {
  background-color: #4c4c4c;
  color: #e5e5e5;
}

.main-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-left: 28%;
  padding-right: 35px;
}

h1 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 26px;
  letter-spacing: 1px;
  padding-top: 15px;
}

h2 {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 22px;
}

p {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

a:not(.nav-link) {
  font-weight: 700;
  color: red;
  text-decoration: none;
  padding: 5px;
}

a:hover:not(.nav-link) {
  background-color: gray;
}

.refheader {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  justify-content: flex-start;
  padding-left: 28%;
  padding-right: 35px;
}

ul {
  list-style-type: square;
  background-color: #e5e5e5;
  padding: 10px 35px;
}

ol {
  flex: 1 0 auto;
  margin-right: 200px;
}

li {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

xmp {
  display: block;
  padding: 8px 25px;
  white-space: pre-wrap;
  background-color: #303030;
  color: #e5e5e5;
  line-height: 1.5;
  font-weight: 400;
  font-size: 15px;
  position: relative;
    word-break: normal;
    word-wrap: break-word;
  font-family: 'Ubuntu Mono', monospace;
  letter-spacing: 1px;
  width: 90%;
  border: 3px grey solid;
  z-index: -1;
}

.webrender {
  display: block;
  width: 90%;
  wordwrap: normal;
  background-color: #e5e5e5;
  padding: 10px;
  border: 1px #000 solid;
}

code {
  color: #303030;
  line-height: 1.5;
  font-weight: 400;
  font-size: 17px;
  font-family: 'Ubuntu Mono', monospace;
}

img {
  width: 35%;
  height: auto;
}

/* small screens */
@media screen and (max-width: 680px) {
  #navbar {
    display: flex;
    flex-flow: row nowrap;
    height: 20%;
    width: 100%;
    justify-content: stretch;
    align-items: space-evenly;
    border-bottom: 1px #7f7f7f dotted;
  }
  
  .nav-header {
    font-size: 18px;
    padding: 10px 15px;
    flex: 1 0 15%;
  }
  
  .nav-link {
    font-size: 15px;
    padding: 10px 15px;
    flex: 1 0 15%;
    border-left: 2px #7f7f7f solid;
  }
  
  .main-section {
    padding-left: 30px;
    padding-top: 20%;
  }
}